body {
    margin: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: #282c34;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    /* Lets it scroll lazy */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}